@model IList<Order>
@*
<h1>Details</h1>
<bodyid ="grad"

    <form>
        <tr>
            <th>Pizza</th>
            <th>Size</th>
            <th>Crust</th>
            <th>Sauce</th>
            <th>Meat</th>
            <th>Veggies</th>
            <th>Cheese</th>
        </tr>
        @foreach (Order order in Model)
        {
                <div>
                @foreach (Pizza pizza in order.PizzaList)
                {
                                <tr>
                            <td>@pizza.Name</td>
                            <td>@pizza.Size</td>
                            <td>@pizza.Crust</td>
                            <td>@pizza</td>
                        </tr>
                }
            </div>
        }

    </form>
</bodyid>
*@


