@model Order

<h1 id="underlined">Details</h1>
<body id="grad">

	<form>

		@foreach (Pizza pizza in Model.PizzaList)
		{
			<h2>@pizza.Name</h2>
			var previousToppingType = ToppingType.OTHER;
			@foreach(Topping topping in pizza.Toppings.OrderBy(o => o.ToppingType))
			{
				
				if(topping.ToppingType != previousToppingType)
				{
					
					<h3>@topping.ToppingType</h3>
				}
				previousToppingType = topping.ToppingType;
				<p>@topping.Name</p>

			}
		}
	</form>
	<br />
	<button type="submit">Pizza Finished</button>
</body>



