@model List<Pizza>

<h1>Browse all of our Classic Pizzas Here!</h1>
<body>

<a asp-controller="Customer"></a>
<table>
    <thead>
    <tr>
        <th>Pizza</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
        </thead>
        <tbody>
        @foreach (Pizza pizza in Model)
        {
            <tr>
                <td>@pizza.PizzaName</td>
                <td>@pizza.PizzaSize</td>
                <td>@pizza.PizzaPrice</td>
                <td>
                    <form method="post" asp-action="DeletePizza" asp-controller="Customer">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
</table>
</body>
