@model List<Pizza>

<h1>Browse all of our Classic Pizzas Here!</h1>
<body id="grad">

    <form asp-controller="Customer" asp-action="ListPizzas" method="post">
 <table id="customers">
    <thead>
    <tr>
        <th>Pizza</th>
        <th>Size</th>
        <th>Price</th>
        <th>Add Pizza</th>
   @*  This will only show up if you are logged in as a manager *@
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Manager") || User.IsInRole("Owner")))
                    {
                        <th>Remove Pizza</th>
                    }
                    <th>Add To Cart</th>
    </tr>
        </thead>
        <tbody>
        @foreach (var pizza in @Model)
        {
            <tr>
                <td>@pizza.Name</td>
                <td>@pizza.Size.Name</td>
                <td>$ @pizza.Price</td>
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Manager") || User.IsInRole("Owner")))
                {
                <td>
                    <form method="post" asp-action="EditPizza" asp-controller="Management">
                        <button type="submit" class="btn btn-edit">Edit Pizza</button>
                    </form>
                  <br/>
                    <form method="post" asp-action="DeletePizza" asp-controller="Customer">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
                }
                <td>
            <form method="post" asp-action="AddOrder" asp-controller="Order" asp-route-pizzaId="@pizza.Id">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </td>
            </tr>
        }
        </tbody>
</table>

</form>
</body>
