@model PizzaGroup.Models.Order
@{
    ViewData["Title"] = "CreateOrderTemp";
}
<form class="form-horizontal" method="post">

    <Label>Feel like i would just add a button to the list of pizzas available, then we add but i don't have that yet</Label><br />
    <label>CustomerID : </label>
    <input asp-for="customerID" />

    <label>PizzaID : </label>
    <input asp-for="Pizzas" />



    <button asp-action="AddOrder" class="btn btn-primary">Submit</button>


</form>