@model Order

@{
    ViewData["Title"] = "CreateOrderTemp";
}

<form class="form-horizontal" method="post">
    @*
    @foreach (var pizza in Model)
    {
        pizza.Pizzas.
    }
    *@
    <label>CustomerID : </label>
    <input asp-for="@Model.CustomerID" />

    <label>PizzaID : </label>
    <input asp-for="" />



    <button asp-action="AddOrder" class="btn btn-primary">Submit</button>


</form>