@model PizzaGroup.Models.PaymentViewModel

<h1>Thank You for Your Purchase!</h1>

<h3>Your payment has been successfully processed. Your order is complete.</h3>

<img src="~/images/Logo.png" alt="Hizza Pizza Logo">