@model PizzaGroup.Models.PaymentViewModel

<body id="grad">
<h1>Thank You for Your Purchase!</h1>

<h3>Your payment has been successfully processed. We'll start working on your order shortly.</h3>

<img src="~/images/logo.png" alt="Hizza Pizza Logo">
</body>