@model Order
@ViewBag.Orders

@if (Model.Pizzas.Count() != 0){
    <table style="border-width:1; border-color:"Black"; >
    <thead>
    <tr>
        <th>Pizza ID</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    
        <form method="post">
            @*foreach (var o in Model.Pizzas)*@
            {
        <tr>

            <td>
                <button asp-action="Delete" asp-route-id="@Model.Id">Delete</button>
            </td>
        <br/>
            </tr>
            }
        </form>
    </tbody>
</table>
    <form method="post">
    <button asp-action="" class="btn btn-primary" value="SUBMIT">SUBMIT</button>
    </form>

}else{
<h1>Nothing is here</h1>
<form method="post">
    <button asp-action="CustomPizzaView" asp-controller="Customer" class="btn btn-primary">Buy A Pizza</button>
</form>
}