@model List<Order>
@ViewBag.Orders


ALTER TABLE TO MAKE NICER AND ADD WHATEVER ELSE NEEDS TO GO HERE<br />
<table>
    <tr>
    <thead>Customer ID</thead>
    <thead>Pizza ID</thead>
    <thead>Price</thead>
    </tr>
    
    @foreach (var o in Model)
    {
        <tr>
        <td>@o.customerID</td>
        <td>@o.PizzaID</td>
        <td>GET PRICE SOMEHOW</td>
        <td></td>
        </tr>
    }
    

</table>