@model List<Order>
@ViewBag.Orders


ALTER TABLE TO MAKE NICER AND ADD WHATEVER ELSE NEEDS TO GO HERE<br />
<table style="border-width:1; border-color:"Black";>
    <tr>
        <th>Customer ID</th>
        <th>Pizza ID</th>
        <th>Price</th>
    </tr>
    <tr>
        <form method="post">
            @foreach (var o in Model)
            {
        <tr>
            <td>@o.CustomerID</td>
            @*<td>@o.Pizzas[0]</td>*@
            <td>GET PRICE SOMEHOW</td>
            <td><button name=@o>DELETE</button></td>
            <td><button name=@o>EDIT</button></td>
        <br/>
        </tr>
            }
    </form>
    </tr>
</table>
    <form method="post">
    <button asp-action="" class="btn btn-primary" value="SUBMIT">SUBMIT</button>
    </form>
