@model Pizza


<body id="grad">

    <form asp-controller="Management" asp-action="Add" method="post">
        <h1>Pizza Creation Station</h1>
        <h3>Fill out the form below to create a new custom pie for our customers.</h3>
        <label>Name of Pizza:</label>
        <input asp-for="PizzaName" />
        <br />
        <br />

        <div class="row">
            <div class="column">
                <h3>Meats</h3>
                <br />
                <input type="checkbox" name="Topping" value="pepperoni">
                <label for="pepperoni">Pepperoni</label>

                <input type="checkbox" name="Topping" value="sausage">
                <label for="sausage">Sausage</label>

                <input type="checkbox" name="Topping" value="hamburger">
                <label for="hamburger">Hamburger</label>

                <br />

                <input type="checkbox" name="Topping" value="canadianBacon">
                <label for="canadianBacon">Canadian Bacon</label>


                <input type="checkbox" name="Topping" value="chicken">
                <label for="chicken">Chicken</label>

                <input type="checkbox" name="Topping" value="bacon">
                <label for="bacon">Bacon</label>

                <br />

                <input type="checkbox" name="Topping" value="anchovies">
                <label for="anchovies">Anchovies</label>

                <input type="checkbox" name="Topping" value="proccuito">
                <label for="proccuito">Proccuito</label>
                <br>
                <br />
                <h3>Veggies</h3>
                <br />
                <input type="checkbox" name="Topping" value="tomatoes">
                <label for="tomatoes">Tomatoes</label>

                <input type="checkbox" name="Topping" value="olives">
                <label for="olives">Olives</label>

                <input type="checkbox" name="Topping" value="bellPepper">
                <label for="bellPepper">Bell Pepper</label>

                <input type="checkbox" name="Topping" value="porccini">
                <label for="porccini">Porccini</label>

                <input type="checkbox" name="Topping" value="onion">
                <label for="onion">Onion</label>

                <input type="checkbox" name="Topping" value="mushroom">
                <label for="mushroom">Mushroom</label>

                <input type="checkbox" name="Topping" value="jalapeno">
                <label for="jalapeno">Jalapeno</label>

                <input type="checkbox" name="Topping" value="chives">
                <label for="chives">Chives</label>
                <br />
            </div>


            <div class="column">
                <h3>Sauce</h3>
                <br />
                <input type="checkbox" name="Topping" value="marinara">
                <label for="marinara">Marinara</label>

                <input type="checkbox" name="Topping" value="ranch">
                <label for="ranch">Ranch</label>

                <input type="checkbox" name="Topping" value="bbq">
                <label for="bbq">Barbeque</label>

                <br />

                <input type="checkbox" name="Topping" value="garlic">
                <label for="garlic">Garlic</label>

                <input type="checkbox" name="Topping" value="alfredo">
                <label for="alfredo">Alfredo</label>
                <br />
                <br />
                <h3>Cheese</h3>
                <br />
                <input type="checkbox" name="Topping" value="mozzerella">
                <label for="mozzerella">Mozzerella</label>

                <input type="checkbox" name="Topping" value="asiago">
                <label for="asiago">Asiago</label>

                <input type="checkbox" name="Topping" value="parmesean">
                <label for="parmesean">Parmesean</label>

                <input type="checkbox" name="Topping" value="fontina">
                <label for="fontina">Fontina</label>

                <input type="checkbox" name="Topping" value="smokedGouda">
                <label for="smokedGouda">Smoked Gouda</label>

                <input type="checkbox" name="Topping" value="government">
                <label for="government">Government</label>
                <br />
            </div>

            <div class="column">
                <h3>Crust</h3>
                <br />
                <input type="radio" name="crust" value="classic">
                <label for="classic">Classic</label>

                <input type="radio" name="crust" value="thin">
                <label for="thin">Thin Crust</label>
                <br />
                <input type="radio" name="crust" value="deepDish">
                <label for="deepDish">Deep Dish</label>

                <input type="radio" name="crust" value="stuffed">
                <label for="stuffed">Stuffed</label>

                <input type="radio" name="crust" value="chicago">
                <label for="chicago">Chicago Deep Dish</label>
                <br />
                <br />

            </div>
        </div>

        <label>Price: </label>
        <input type="text" asp-for="PizzaPrice" />
        <br />
        <br />

        <button type="submit">Make That Pie!</button>
    </form>
</body>