@model Pizza

<h2>Edit Pizza</h2>

<form asp-action="EditPizza" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<input type="hidden" asp-for="Id" />

	<div class="form-group">
		<label asp-for="Name">Pizza Name</label>
		<input asp-for="Name" class="form-control" />
	</div>

	<div class="form-control">
		<label asp-for="Price">Price</label>
		<input asp-for="Price" class="form-control" />
	</div>

	<button type="submit" class="btn btn-edit">Edit</button>
	<a asp-controller="Customer" asp-action="ListPizzas" class="btn btn-primary">Cancel</a>
</form>
