@using Microsoft.AspNetCore.Identity
@model UserViewModel
@{
    ViewData["Title"] = " | Manage Employees";
}

<h1 class="mb-2">Manage Employees</h1>

<h5 class="mt-2"><a asp-action="CreateEmployee">Add an Employee</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>Email</th><th></th></tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Users == null || Model.Users.Count() == 0)
        {
            <tr><td>There are no employee accounts</td></tr>
        }
        else
        {
            @foreach (User user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        <form method="post" asp-action="DeleteEmployee" asp-route-userId="@user.Id">
                            <button type="submit" class="btn btn-primary">Delete Employee</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>