@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css">


<body>
    <div class="container">
        <img id="Logo" alt="Hizza Pizza logo" src="~/images/Logo.png" class="img-fluid rounded" />
        <main>
            <div>
                <h2 class="col-md-18">Welcome to Hizza Pizza</h2>
                <div />

                <div class="align-right">
                <h3 >We are located at:</h3>
                <p>3920 N.44th Street</p>
                <p>Lincoln, Ne. 68504</p>
            <br />
                <h3>Phone Number:</h3>
                <p>(402)555-5555</p>
            <br />
                <h3>We are open:</h3>
                <p>Monday to Saturday : 10:30am - 9:00pm</p>
            </div>
        </main>
    </div>
</body>
