@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css">
<head>
    <div class="center">
        <h2>Welcome to Hizza Pizza</h2>
    </div>
</head>
<br />
<body id ="grad">
    
    <div class="container">
        <main>

                <div class="twoColumns">
                    <img id="Logo" alt="Hizza Pizza logo" src="~/images/Logo.png" class="img-fluid rounded" />
                    <br /> <br />
                    <img id="Logo" alt="Pizza on a workbench with flour" src="~/images/pizza.png" class="img-fluid  rounded" />
                <h3 >We are located at:</h3>
                <p>3920 N.44th Street<br />
                   Lincoln, Ne. 68504</p>
            <br />
                <h3>Phone Number:</h3>
                <p>(402)555-5555</p>
            <br />
                <h3>We are open:</h3>
                <p>Monday to Saturday : 10:30am - 9:00pm</p>
            </div>
        </main>
    </div>
</body>

@* pizza.png origionally sourced from pixabay.com for educational purposes.
Logo.png was created using Dall-e AI image generagor by Madelon Watanabe. *@
